atomicwrites==1.2.1
attrs==18.2.0
cairocffi==1.1.0
CairoSVG==2.4.2
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
click==6.7
cssselect2==0.2.2
defusedxml==0.6.0
Flask==1.0
Flask-DebugToolbar==0.10.0
html5lib==1.0.1
idna==2.8
more-itertools==5.0.0
mypy==0.660
mypy-extensions==0.4.1
numpy==1.17.4
pandas==0.25.3
Pillow==9.3.0
pip-tools==4.1.0
pluggy==0.8.1
py==1.7.0
pycparser==2.19
pygtrie==2.3
Pyphen==0.9.5
pytest==4.1.1
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
six==1.12.0
tinycss2==1.0.2
typed-ast==1.2.0
urllib3==1.25.7
virtualenv==16.7.9
WeasyPrint==51
webencodings==0.5.1
